Package: lxc-nextdom
Version: 1.0
Section: web
Priority: optional
Architecture: all
Pre-Depends: lxc, bridge-utils, grep, sed, bash, debootstrap, sudo
Maintainer: contact@nextdom.org
Description: LXC container with NextDom preinstalled
